body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px;
    padding: 8px;
    background: white;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
